@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.flash-animation {
  animation: flash 0.5s infinite;
}

@keyframes flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #ff000050;
  }
  100% {
    background-color: red;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .xs {
    @apply text-[8px];
  }
  .sm {
    @apply text-[12px];
  }
  .md {
    @apply text-[16px];
  }
  .lg {
    @apply text-[20px];
  }
  .xl {
    @apply text-[24px];
  }
  .two-xl {
    @apply text-[32px];
  }
  .three-xl {
    @apply text-[56px];
  }
  .four-xl {
    @apply text-[96px];
  }
  .five-xl {
    @apply text-[120px];
  }
  .bg-green {
    @apply bg-[#00ff00];
  }
  .bg-red {
    @apply bg-[#F1343E];
  }
  .bg-yellow {
    @apply bg-[#F89314];
  }
  .bg-blue {
    @apply bg-[#14B4F7];
  }
  .bg-deep-blue {
    @apply bg-[#003DD2];
  }
}